.main {
  margin: 0;
}

.main__title {
  margin: 0;
  font-family: "Roboto";
  margin-top: 65px;
  text-align: center;
  font-size: 64px;
}

.main__subtitle {
  text-align: center;
  font-family: "Roboto";
  font-weight: normal;
  font-size: 40px;
  margin-top: 8px;
  margin-bottom: 56px;
  color: #757575;
  scrollbar-width: none;
}

.cards {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards__list {
  padding: 0;
  padding-bottom: 107px;
  display: grid;
  /* grid-template: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, 313px);
  grid-template-rows: repeat(4, minmax(195px, 414.73px));
  row-gap: 47px;
  column-gap: 100px;
  margin-top: 34px;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.cards__btn {
  margin: 0 auto;
  height: 150px;
  width: 200px;
  background-image: url(../../assets/button_custom.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  color: #fcf1df;
  font-size: 24px;
  text-align: center;
  font-family: "Cabinet Grotesk";
  padding-bottom: 30px;
}

.cards__btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.cards__btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (max-width: 1012px) {
  .cards {
    margin-top: 32px;
  }

  .cards__list {
    padding: 0;
    padding-bottom: 107px;
    grid-template-columns: repeat(auto-fit, 310px);
    row-gap: 65px;
    column-gap: 42px;
    margin-top: 34px;
  }
}

@media screen and (max-width: 766px) {
  .main__title {
    margin: 22px 0 20px;
    font-size: 36px;
  }

  .main__subtitle {
    font-size: 20px;
  }

  .cards {
    margin: 0;
  }
  .cards__list {
    margin: 0;
    padding: 0;
    padding-bottom: 107px;
    grid-template-columns: repeat(auto-fit, 138px);
    grid-template-rows: repeat(4, 194px);
    row-gap: 30.74px;
    column-gap: 21px;
  }
}
