.result__title {
  margin: 65px 0 111px;
  font-family: "Roboto";
  margin-top: 65px;
  text-align: center;
  font-size: 64px;
}

.result__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 139px 139px min-content;
  grid-template-areas:
    "tl tm cg"
    "tl tm cg"
    "tl tm cg"
    "rc rc ig"
    "rc rc ig";

  gap: 15px;
  margin-top: 46px;
  max-width: 1390px;
  width: 100%;
  background-color: #6d2c28;
  border-radius: 16px;
  padding: 15px;
  box-sizing: border-box;
  justify-content: center;
}

.result__card {
  background-color: #d3a771;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow: clip;
}

.result__card_title {
  grid-area: tl;
}

.result__card_time {
  grid-area: tm;
}

.result__card_categories {
  grid-area: cg;
}

.result__card_recipe {
  width: 100%;
  max-width: 901px;
  grid-area: rc;
}

.result__card_ingredients {
  grid-area: ig;
}

.result__card__title {
  margin: 0;
  font-family: "Roboto";
  font-size: 40px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 500;
  text-size-adjust: auto;
}

.result__card__list {
  padding: 20px 10px;
  width: 100%;
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.result__card__list_category {
  padding: 0;
  height: fit-content;
  columns: 2;
  column-rule: dashed 2px #fcf1df;
  column-gap: 20px;
}

.result__card__list_recipe {
  margin: 0;
  padding: 0 10px;
  width: 100%;
  height: fit-content;
  max-width: 743px;
  columns: 2;
  column-rule: dashed 2px #fcf1df;
  column-gap: 40px;
}

.result__card__text {
  margin: 0;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 30px;
  height: fit-content;
  color: #6d2c28;
  width: 100%;
}

.result__card__text_ingedients {
  max-width: 334px;
  list-style-type: circle;
  list-style-position: inside;
}

.result__card__text_recipe {
  width: 100%;
  list-style-type: circle;
  list-style-position: inside;
  padding: 5px 0px;
}

.result__card__text_category {
  list-style-type: circle;
  list-style-position: inside;
  width: fit-content;
  text-wrap: wrap;
}

.result__card__image {
  width: 100%;
  height: fit-content;

  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 10px;
  background-image: url(../../assets/images/FrenchToast.png);
  /* background-size: cover; */
}

@media screen and (max-width: 1080px) {
  .result__title {
    margin: 22px 0 20px;
    font-size: 36px;
  }

  .result__cards {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 5px;
  }

  .result__card__title {
    font-size: 20px;
  }

  .result__card_recipe {
    height: 100%;
  }

  .result__card__list_category {
    max-height: 100%;
  }
}
